build
apidocs
CMakeLists.txt.user
*.o
*.so*
moc_*
Makefile
bluez*1*
obex*1*
libKF5BluezQt*
bluez*adapter.*
bluez*device.*
bluez*manager.*
bluez*mediaplayer.*
bluez*mediatransport.*
bluez*obexclient.*
bluez*obexfiletransfer.*
bluez*obexmanager.*
bluez*obexobjectpush.*
bluez*obextransfer.*
dbusobjectmanager.*
dbusproperties.*
